.box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-size: cover;;
    gap: 20px;
    margin: 20px;
}

.box div img{
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 15px;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-size: cover;
    ;
    gap: 20px;
    margin: 20px;
}

.box div img {
    max-width: 100%;
    width: 400px;
    height: auto;
    border-radius: 15px;
}

body{
    background-color: rgb(19, 19, 19);
}

header{
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 5px;
}



    